<ion-menu id="filterMenu" [content]="mycontent" side="right">
  <ion-content>
    <div class="trafficContrain" [ngStyle]="{'background-color':themColor}">交通</div>
    <ion-grid (click)="toggleStation($event)">
      <ion-row>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}" [ngClass]="{'isClickLineBtn':clickLineName === '1'}">1号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}" [ngClass]="{'isClickLineBtn':clickLineName === '2'}">2号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}" >3号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}" >4号线</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">5号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">6号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">7号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">8号线</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">9号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">10号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">11号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">12号线</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">13号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">14号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">15号线</button>
        </ion-col>
        <ion-col col-3>
          <button ion-button class="titleButton" outline [ngStyle]="{'border-color':themColor}">16号线</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="stationContrain" class="stationContrain">
        <div>详细站点</div>
        <ion-col col-12>
          <span *ngFor="let stationItem of lineStation"><div></div><p>{{stationItem}}</p></span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-group>
      <ion-item-divider [ngStyle]="{'background-color':themColor}">其他</ion-item-divider>
      <ion-item>论坛相册</ion-item>
      <ion-item>热帖</ion-item>
      <ion-item>悬赏</ion-item>
    </ion-item-group>
  </ion-content>
</ion-menu>
<ion-menu id="mangeMenu" [content]="mycontent" side="right">
  <ion-item-group>
    <ion-item-divider [ngStyle]="{'background-color':themColor}">管理员</ion-item-divider>
    <ion-item>张三</ion-item>
    <ion-item>王五</ion-item>
  </ion-item-group>
</ion-menu>
<ion-content #mycontent>
  <div class="bannerContrain">
    <ion-slides pager autoplay="3000" loop=true>
      <ion-slide><img src="http://placehold.it/350x100" alt=""></ion-slide>
      <ion-slide><img src="http://placehold.it/350x100" alt=""></ion-slide>
      <ion-slide><img src="http://placehold.it/350x100" alt=""></ion-slide>
    </ion-slides>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button ion-button class="titleButton" [ngStyle]="{'background-color':themColor}">
          <ion-icon name="create"></ion-icon>&nbsp;&nbsp;签到
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button class="titleButton" [ngStyle]="{'background-color':themColor}">
          <ion-icon name="eye"></ion-icon>&nbsp;&nbsp;关注
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button class="titleButton" (click)="openMenu(false)" [ngStyle]="{'background-color':themColor}">
          <ion-icon name="people"></ion-icon>&nbsp;&nbsp;管理
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button class="titleButton" (click)="openMenu(true)" [ngStyle]="{'background-color':themColor}">
          <ion-icon name="list"></ion-icon>&nbsp;&nbsp;筛选
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="newContrain">
    <div class="newItem">
      <div><ion-icon name="megaphone"></ion-icon>&nbsp;&nbsp;<span>消息1</span></div>
      <div><ion-icon name="mail"></ion-icon>&nbsp;&nbsp;<span>消息2</span></div>
      <div><ion-icon name="alarm"></ion-icon>&nbsp;&nbsp;<span>消息3</span></div>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <div class="cardImage">
        <img src="http://placehold.it/50x50" alt="">
      </div>
      <div class="cardInfo">
        <div>
          <span [ngStyle]="{'color':themColor}">张三</span>
          <span>v.2</span>
          <span><ion-icon name="arrow-round-up"></ion-icon></span>
        </div>
        <div>
          <span>2018-1-1</span>
          <span>浏览:8888</span>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p class="cardContentTitle">一号线通河新村站步行15分钟品尚公寓多样房型选择满足不同选择</p>
      <p class="cardContentText"><span [ngStyle]="{'color':themColor,'border-color':themColor}">通河新村</span>&nbsp;&nbsp;
        一号线通河新村站步行15分钟品尚公寓多样房型选择满足不同选择,
        一号线通河新村站步行15分钟品尚公寓多样房型选择满足不同选择</p>
      <p class="showAllTexe"><span [ngStyle]="{'color':themColor}">展示全文</span></p>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <img src="http://placehold.it/50x50" alt="">
          </ion-col>
          <ion-col col-4>
            <img src="http://placehold.it/50x50" alt="">
          </ion-col>
          <ion-col col-4>
            <img src="http://placehold.it/50x50" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <img src="http://placehold.it/50x50" alt="">
          </ion-col>
          <ion-col col-4>
            <img src="http://placehold.it/50x50" alt="">
          </ion-col>
          <ion-col col-4>
            <img src="http://placehold.it/50x50" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <button ion-button outline class="titleButton" [ngStyle]="{'color':themColor,'border-color':themColor}">
              <ion-icon name="logo-yen"></ion-icon>&nbsp;&nbsp;赏
            </button>
          </ion-col>
          <ion-col col-3>
            <button ion-button outline class="titleButton" [ngStyle]="{'color':themColor,'border-color':themColor}">
              <ion-icon name="share-alt"></ion-icon>&nbsp;&nbsp;转
            </button>
          </ion-col>
          <ion-col col-3>
            <button ion-button outline class="titleButton" [ngStyle]="{'color':themColor,'border-color':themColor}">
              <ion-icon name="text"></ion-icon>&nbsp;&nbsp;评
            </button>
          </ion-col>
          <ion-col col-3>
            <button ion-button outline class="titleButton" [ngStyle]="{'color':themColor,'border-color':themColor}">
              <ion-icon name="thumbs-up"></ion-icon>&nbsp;&nbsp;赞
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div style="border-bottom: 1px solid #cccccc"></div>

      <div class="commnetContrain">
        <p><span [ngStyle]="{'color':themColor}">王五</span>:<span>房源不错!</span></p>
        <p><span [ngStyle]="{'color':themColor}">王五</span>:<span>房源不错!</span></p>
      </div>

      <div class="moreCommentBtn" style="" [ngStyle]="{'color':themColor}">显示全部8条回复</div>
    </ion-card-content>
  </ion-card>
</ion-content>

